<!DOCTYPE html>
<html>
<head>
    <%- include('header.ejs') %>
</head>
<body>
    <%if (user) { %> <%- include('navbar.ejs') %> <% } else { %> <%- include('navbar1.ejs') %> <% } %>

    <div class="container">
        <br>
        <br>
        <h2> Kontakt </h2>
        <hr>
        <div class="text-container text-justify">
            <br>
            <br> VirtualLibrary.pl Sp. z o.o.
            <br> ul. Informatyków 101 lok. 10
            <br> 26545-168645165 Computerland
            <br> NIP ************
            <br>
            <br>
            <br> kontakt@virtuallibrary.pl
            <br> tel: 12 123 453 1236
        </div>
    </div>

<%- include('footer.ejs') %>
</body>
</html>